
body {
    margin: 0;
    font-family: 'Lato', sans-serif;
    background: #F2F2F2;
    display: flex;
    justify-content: center;
}

.contenedor{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}